<style>
  pre {
    display: flex;
    width: 100%;
  }

  div {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
</style>


<div>
  <form [formGroup]="fruitForm" (ngSubmit)="onFruitSubmit()">
    <div>
      <label for="jsonData">
        Fruit JSON
      </label>
      <input id="jsonData" type="text" formControlName="jsonData">
    </div>
    <button class="button" type="submit">Add fruit</button>
  </form>
  <pre *ngFor="let fruit of fruits">{{stringify(fruit)}}</pre>
  <form [formGroup]="personForm" (ngSubmit)="onPersonSubmit()">
    <div>
      <label for="firstName">First name:</label>
      <input id="firstName" type="text" formControlName="firstName">
    </div>
    <div>
      <label for="lastName">Last name:</label>
      <input id="lastName" type="text" formControlName="lastName">
    </div>
    <div>
      <label for="dateOfBirth">Date of birth:</label>
      <input id="dateOfBirth" type="text" formControlName="dateOfBirth">
    </div>
    <button class="button" type="submit">Add person</button>
  </form>
  <pre *ngFor="let person of persons">{{stringify(person)}}</pre>
</div>
